@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  background-color: #0A0A0A;
  color: #E5E5E5;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.kengan-glow:hover {
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.4);
}

@layer base {
  h1, h2, h3 {
    @apply tracking-tighter;
  }
}
